<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码 - 黑色涟漪</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" media="screen" href="/dr_resources/pages/authc/login.css">
</head>
<body>
<!-- particles.js container -->
<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
</div>
<div class="login-page" id="v" v-cloak>
    <div class="login-content" style="top:18px;">
        <div class="login-tit">修改密码</div>
        <div class="login-input">
            <input v-model="oldPwd" placeholder="原密码" type="password">
        </div>
        <div class="login-input">
            <input v-model="newPwd" placeholder="新密码" type="password">
        </div>

        <div class="login-btn">
            <div class="login-btn-left">
                <span @click="doSave()" id="saveBtn">保存</span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/static/js/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/common/static/js/utils/base.js"></script>
<script type="text/javascript" src="/common/static/js/conf/config_dr.js"></script>
<script type="text/javascript" src="/common/static/js/utils/utils.js"></script>
<script type="text/javascript" src="/common/static/js/libs/jquery/jquery.md5.js"></script>
<script type="text/javascript" src="/common/static/js/libs/particles.js"></script>
<script type="text/javascript" src="/dr_resources/pages/user/mod_pwd.js"></script>
</body>
</html>